@media screen {

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    div {
        box-sizing: border-box;
    }

    .App {
        text-align: center;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(7, 12vw);
        grid-template-rows: repeat(6, 12vw);
        outline: 1px solid black;
        width: 84vw;
        margin: auto;
        margin-top: 50px;
    }

    .board .field {
        border: 1px solid black;
    }

    .board .field .piece {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        margin: 1vw;
    }

    .board .field .color-a {
        background-color: blue;
    }

    .board .field .color-b {
        background-color: red;
    }

    .btn {
        margin: 10px 0;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        background-color: #ffffff;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #666666;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
    }

    .btn:hover {
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        background-color: #f6f6f6;
    }

    .btn:active {
        position: relative;
        top: 1px;
    }


    @media screen and (min-width: 60em) {
        .board {
            width: 49vw;
            grid-template-columns: repeat(7, 7vw);
            grid-template-rows: repeat(6, 7vw);
        }

        .board .field .piece {
            width: 5vw;
            height: 5vw;
            margin: 1vw;
        }
    }
}